// @import 'shared_style/mixin_processpage.scss';
// @import 'shared_style/variable_processpage.scss';
@import '../../../../style_global/variable.scss';
@import '../../../../style_global/mixin.scss';


.section-container{
	width: 100%;
	
	
	display: block;
	position: relative;
	top: 3vh;
	

	.paragraph-section-right{
		// @include paragraph-section(15vh, 50vw, right, 70vw );
		@include paragraph-section-font-xl();
		margin-bottom: 10vh;
		h3{
			text-align: right;
		}
	}
	
}

h3{
	font-size: $title-font-size-h3;

}
p{
	font-size:$paragraph-font-size-p;
}
.missionsection{
	clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
	-webkit-clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
	height: auto;
	background: #60D0B7;
	z-index: 2;
	padding-bottom: 15vh;
	padding-top: 15vh;
}

@media only screen and (max-width: 1200px) {
	.section-container{
		width: 100%;
		// display: block;
		position: relative;
		top: 3vh;
		

		.paragraph-section-right{
			@include paragraph-section(15vh, 50vw, right, 70vw );
			margin-bottom: 10vh;
			h3{
				text-align: right;
				font-size: $title-font-size-h3-m;
				
			}
			h5{
				font-size: $paragraph-font-size-h5-m;
			}
			ul{
				font-size: $paragraph-font-size-h5-m;
				

				li{
					font-size: $paragraph-font-size-h5-m;
					
				}
			}
		}
		
	}

	h3{
		font-size: $title-font-size-h3;

	}
	p{
		font-size:$paragraph-font-size-p;
	}
	.missionsection{
		clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
		-webkit-clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
		height: auto;
		background: #60D0B7;
		z-index: 2;
		padding-bottom: 30vh;
		padding-top: 10vh;
	}
}