.feature-frame{
	height: auto;
	padding-right: 10vh;
}
.text-section{
	padding-right: 5vh;
}
.grey-bg{
	background: #efefef;
	padding: 8vh 5vh;
	clip-path: polygon(0 80%, 0% 10%, 100% 10%, 100% 80%);
	-webkit-clip-path: polygon(0 80%, 0% 10%, 100% 10%, 100% 80%);


}	

.screen-mockup{
	img{
		width: 100%;
		height: auto;
	}
}