.feature-frame{
	height: auto;
	padding-right: 10vh;
}
.text-section{
	padding-right: 5vh;
}
.grey-bg{
	background: #efefef;
	padding: 5vh 5vh;
	clip-path: polygon(0 90%, 0% 0%, 100% 0%, 100% 90%);
	-webkit-clip-path: polygon(0 90%, 0% 0%, 100% 0%, 100% 90%);


}	