.problem-frame{
	height: auto;
	background: #60D0B7;
	clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
	-webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
	padding: 15vh 0;

}
.ps-image{
	padding: 20px;
	img{
		width: 100%;
		height: auto;
	}
}