.uiuc-section-frame{
	width: 100%;
	height: auto;
	position: relative;

	.uiuc-img{
		height: auto;
		position: relative;
		left: 10%;
		z-index: 5;
		transform: translateY(40%);
		transition-duration: 0.5s;

	}
	.uiuc-section{
		width: 100%;
		height: auto;
		position: relative;
		background: #F5A623;
		padding: 15vh 0;
		z-index: 1;
		
		.section-title{
			text-align: center;
		}
		p{
			position: absolute;
			left: 10%;
			top: calc( 50% + 10%);
			width: 80%;
			display: block;
		}

	}
}
@media only screen and (max-width: 1200px) {
	.uiuc-section-frame{
		.uiuc-img{
			height: auto;
			position: relative;
			left: 10%;
			z-index: 5;
			transition-duration: 0.5s;
		}
	}
}
@media only screen and (max-width: 768px) {
	.uiuc-section-frame{
		.uiuc-img{
			height: auto;
			position: relative;
			left: 5%;
			z-index: 5;
			transition-duration: 0.5s;
		}
	}
}
@media only screen and (max-width: 540px) {
	.uiuc-section-frame{
		.uiuc-img{
			height: auto;
			position: relative;
			left: 0%;
			z-index: 5;
			transition-duration: 0.5s;
		}
	}
}