@import '../shared_style/mixin_processpage.scss';
@import '../shared_style/variable_processpage.scss';
@import '../../../../style_global/variable.scss';

.approaches-cards{
		display: block;
		width: calc(80vw);
		height: calc(60vw);
		margin: auto;
		position: relative;
		z-index: 10 !important;
}
@media only screen and (max-width: 1200px) {
	.approaches-cards{
		display: block;
		width: calc(#{$GLOBAL_CONTENT_WIDTH_M} + 9vw);
		height: calc((#{$GLOBAL_CONTENT_WIDTH_M} + 9vw) / 3 * 2 );
		margin: auto;
		position: relative;
		z-index: 10 !important;
	}
}
