@import 'variable_processpage.scss';
@import '../../../../style_global/variable.scss';

@mixin content-section($gb:#D8D8D8,$height: 90vh){
	height: $height;
	width: 100%;
	left: 0;
	background: $gb;
}

@mixin section-title-size(){
	font-size: $title-font-size-h3;

	text-align:left;
	display: block;
	position : relative;
}
@mixin section-subtitle-size(){
	font-size: $paragraph-font-size-h5;
	font-weight: 200;
	top:1rem;
	text-align:left;
	display: block;
	position : relative;
}
@mixin image-sizing($width, $height:auto, $top:10vh){
	position: relative;
	top: $top;
	letf: 0;
	width: $width;
	height: $height;
	margin-right: auto;
	margin-left: auto;
}

// @mixin section-bg()
@mixin paragraph-section-font-xl(){
	h3{
		font-size: $title-font-size-h3;
	}
	h4{
		font-size: $title-font-size-h4;
	}
	h5{
		font-size: $paragraph-font-size-h5;
	}
	p{
		font-size: $paragraph-font-size-p;
	}
	ul{
		margin-top: 30px;
		font-size: $paragraph-font-size-h5;
		font-weight: 200;

		li{
			font-size: $paragraph-font-size-h5;
			font-weight: 200;
		}
	}
}
@mixin paragraph-section-font-l(){
	h3{
		font-size: $title-font-size-h3;
	}
	h4{
		font-size: $title-font-size-h4;
	}
	h5{
		font-size: $paragraph-font-size-h5;
	}
	p{
		font-size: $paragraph-font-size-p;
	}
	ul{
		margin-top: 30px;
		font-size: $paragraph-font-size-h5;
		font-weight: 200;

		li{
			font-size: $paragraph-font-size-h5;
			font-weight: 200;
		}
	}
}
@mixin paragraph-section($top:25vh, $text_width:40vw, $align:left, $section_width:$GLOBAL_CONTENT_WIDTH){
	position: relative;

	h3{
		@include section-title-size();
		width: $text_width;

		@if $align == left {left: 0;}
		@if $align == right {left: calc(100% - #{$text_width}) !important;}
	}
	h5{
		@include section-subtitle-size();
		width: $text_width;
		@if $align == left {left: 0;}
		@if $align == right {left: calc(100% - #{$text_width}) !important;}
	}
	ul{
		font-size: $paragraph-font-size-h5;
		font-weight: 200;
		@if $align == left {left: 0;}
		@if $align == right {left: calc(100% - #{$text_width}) !important;}
		display: block;
		width: $text_width;
		position: relative;
		top: 3rem;
		list-style-type: none;

		li{
			font-size: $paragraph-font-size-h5;
			font-weight: 200;
		}
	}

}