@import '../../../../style_global/variable.scss';

$approach_card_padding_l: 30;
$approach_card_padding_m: 20;

$approach_card_margin_l: 20;
$approach_card_margin_m: 20;

$approach_card_width-l: calc(((#{$GLOBAL_CONTENT_WIDTH} + 20vw) / 3) - #{$approach_card_margin_l}*2px);
$approach_card_width-m:	calc(((#{$GLOBAL_CONTENT_WIDTH_M} + 9vw) / 3) - #{$approach_card_margin_m}*2px );
$approach_card_width-s: calc(((#{$GLOBAL_CONTENT_WIDTH_M} + 9vw) / 3) - #{$approach_card_margin_m}*2px );

$linear_gradient_green: linear-gradient(-80deg , #52E1C2, #70E598);



$card-title-cont-size-h5: 1.6rem;
