.work-process-internal-approaches {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background: #eeeeee;
  padding-top: 12vh; }
  .work-process-internal-approaches h3 {
    font-size: 3rem;
    text-align: left;
    display: block;
    position: relative;
    width: calc(60vw);
    margin: auto; }
  .work-process-internal-approaches h5 {
    font-size: 1.2rem;
    font-weight: 200;
    top: 1rem;
    text-align: left;
    display: block;
    position: relative;
    width: calc(60vw);
    margin: auto;
    margin-bottom: 5vh; }
  .work-process-internal-approaches .scroll-indicator-left {
    z-index: 1;
    top: -10vw; }
    .work-process-internal-approaches .scroll-indicator-left .side-caption-left:after {
      width: 20vw;
      left: 20pxw; }
