.work-process-internal-approaches {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background: #eeeeee;
  padding-top: 6.6vh;
  z-index: 2; }
  .work-process-internal-approaches .title h3 {
    font-size: 3rem; }
  .work-process-internal-approaches .title h4 {
    font-size: 2rem; }
  .work-process-internal-approaches .title h5 {
    font-size: 1.2rem; }
  .work-process-internal-approaches .title p {
    font-size: 1rem; }
  .work-process-internal-approaches .title ul {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 200; }
    .work-process-internal-approaches .title ul li {
      font-size: 1.2rem;
      font-weight: 200; }
  .work-process-internal-approaches .scroll-indicator-left {
    z-index: 1;
    top: -10vw; }
    .work-process-internal-approaches .scroll-indicator-left .side-caption-left:after {
      width: 20vw;
      left: 20pxw; }

@media only screen and (max-width: 1200px) {
  .work-process-internal-approaches {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px auto;
    background: #eeeeee;
    padding-top: 6.6vw;
    padding-bottom: 6.6vw; }
    .work-process-internal-approaches h3 {
      font-size: 2rem;
      width: calc($GLOBAL_CONTENT_WIDTH_M);
      margin: auto; }
    .work-process-internal-approaches h5 {
      width: calc($GLOBAL_CONTENT_WIDTH_M);
      font-size: 1rem;
      margin: auto;
      margin-bottom: 2vw; }
    .work-process-internal-approaches .scroll-indicator-left {
      z-index: 1;
      top: -5vw !important; }
      .work-process-internal-approaches .scroll-indicator-left .side-indicator-bar {
        width: 20vw; }
      .work-process-internal-approaches .scroll-indicator-left .side-caption-left:after {
        width: 30vw;
        left: 20pxw; } }
