.approach-card, .card-exploration, .card-ideation, .card-experliments, .card-prototype, .card-mvp, .card-lego-bricks, .approach-card-extend {
  display: inline-block;
  width: calc(((60vw + 20vw) / 3) - 20*2px);
  height: calc(((60vw + 20vw) / 3) - 20*2px);
  background: white;
  margin: 20px;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 3;
  transition-duration: 1s;
  position: relative; }
  .approach-card:hover .info-level1, .card-exploration:hover .info-level1, .card-ideation:hover .info-level1, .card-experliments:hover .info-level1, .card-prototype:hover .info-level1, .card-mvp:hover .info-level1, .card-lego-bricks:hover .info-level1, .approach-card-extend:hover .info-level1 {
    background: rgba(140, 198, 63, 0.6); }
    .approach-card:hover .info-level1 p, .card-exploration:hover .info-level1 p, .card-ideation:hover .info-level1 p, .card-experliments:hover .info-level1 p, .card-prototype:hover .info-level1 p, .card-mvp:hover .info-level1 p, .card-lego-bricks:hover .info-level1 p, .approach-card-extend:hover .info-level1 p {
      transform: translateY(-20px);
      opacity: 1; }
  .approach-card img, .card-exploration img, .card-ideation img, .card-experliments img, .card-prototype img, .card-mvp img, .card-lego-bricks img, .approach-card-extend img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.8s; }
  .approach-card .info-level1, .card-exploration .info-level1, .card-ideation .info-level1, .card-experliments .info-level1, .card-prototype .info-level1, .card-mvp .info-level1, .card-lego-bricks .info-level1, .approach-card-extend .info-level1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transition-duration: .5s;
    left: 0;
    padding: 40px;
    background: rgba(140, 198, 63, 0); }
    .approach-card .info-level1 .title, .card-exploration .info-level1 .title, .card-ideation .info-level1 .title, .card-experliments .info-level1 .title, .card-prototype .info-level1 .title, .card-mvp .info-level1 .title, .card-lego-bricks .info-level1 .title, .approach-card-extend .info-level1 .title {
      font-size: 1rem; }
    .approach-card .info-level1 p, .card-exploration .info-level1 p, .card-ideation .info-level1 p, .card-experliments .info-level1 p, .card-prototype .info-level1 p, .card-mvp .info-level1 p, .card-lego-bricks .info-level1 p, .approach-card-extend .info-level1 p {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0.8rem;
      opacity: 0;
      transition-duration: 0.5s;
      position: relative;
      top: 0px; }
  .approach-card .info-level2, .card-exploration .info-level2, .card-ideation .info-level2, .card-experliments .info-level2, .card-prototype .info-level2, .card-mvp .info-level2, .card-lego-bricks .info-level2, .approach-card-extend .info-level2 {
    display: none;
    transition-duration: .5s; }
  .approach-card .btn-close, .card-exploration .btn-close, .card-ideation .btn-close, .card-experliments .btn-close, .card-prototype .btn-close, .card-mvp .btn-close, .card-lego-bricks .btn-close, .approach-card-extend .btn-close {
    opacity: 0;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4) !important; }
    .approach-card .btn-close:before, .card-exploration .btn-close:before, .card-ideation .btn-close:before, .card-experliments .btn-close:before, .card-prototype .btn-close:before, .card-mvp .btn-close:before, .card-lego-bricks .btn-close:before, .approach-card-extend .btn-close:before {
      content: "";
      display: block;
      width: 24px;
      height: 4px;
      background: white;
      transform: rotate(45deg);
      position: absolute;
      top: 18px;
      left: 8px; }
    .approach-card .btn-close:after, .card-exploration .btn-close:after, .card-ideation .btn-close:after, .card-experliments .btn-close:after, .card-prototype .btn-close:after, .card-mvp .btn-close:after, .card-lego-bricks .btn-close:after, .approach-card-extend .btn-close:after {
      content: "";
      display: block;
      width: 24px;
      height: 4px;
      background: white;
      transform: rotate(-45deg);
      position: absolute;
      top: 18px;
      left: 8px; }

.card-exploration, .card-ideation, .card-experliments, .card-prototype, .card-mvp, .card-lego-bricks {
  position: absolute !important;
  top: 20;
  left: 20; }

.card-ideation {
  left: calc( 80vw / 3 * 1); }

.card-experliments {
  left: calc( 80vw / 3 * 2); }

.card-prototype {
  top: calc( (80vw / 3 * 1)); }

.card-mvp {
  top: calc( 80vw / 3 * 1);
  left: calc( 80vw / 3 * 1); }

.card-lego-bricks {
  top: calc( 80vw / 3 * 1);
  left: calc( 80vw / 3 * 2); }

.approach-card-extend {
  width: calc( 100% - 20*2px) !important;
  height: calc(80vw / 3 * 2) !important;
  z-index: 5;
  position: absolute;
  top: 0px !important;
  left: 0px !important;
  background: white;
  transition-duration: .5s;
  background-image: '' !important; }
  .approach-card-extend:hover .info-level1 {
    background: rgba(140, 198, 63, 0); }
    .approach-card-extend:hover .info-level1 p {
      transform: translateY(0px);
      opacity: 1; }
  .approach-card-extend img {
    opacity: 0; }
  .approach-card-extend .info-level1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    transition-duration: .5s;
    left: 0; }
    .approach-card-extend .info-level1 .title {
      margin: 0;
      position: relative;
      left: 0;
      font-size: 1.6rem; }
    .approach-card-extend .info-level1 p {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition-duration: 0.5s;
      position: relative;
      top: 50px; }
  .approach-card-extend .info-level2 {
    display: block;
    transition-duration: .5s;
    position: absolute;
    top: 20%; }
    .approach-card-extend .info-level2 .detailedinfo .inputinfo ul, .approach-card-extend .info-level2 .detailedinfo .todoinfo ul, .approach-card-extend .info-level2 .detailedinfo .deliverableinfo ul {
      list-style-type: none; }
  .approach-card-extend .btn-close {
    opacity: 1;
    right: 40px;
    top: 40px; }

@media only screen and (max-width: 1200px) {
  .approach-card, .card-exploration, .card-ideation, .card-experliments, .card-prototype, .card-mvp, .card-lego-bricks, .approach-card-extend {
    display: inline-block;
    width: calc(((80vw + 9vw) / 3) - 20*2px);
    height: calc(((80vw + 9vw) / 3) - 20*2px);
    background: white;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 3;
    transition-duration: 1s;
    position: relative; }
    .approach-card:hover .info-level1, .card-exploration:hover .info-level1, .card-ideation:hover .info-level1, .card-experliments:hover .info-level1, .card-prototype:hover .info-level1, .card-mvp:hover .info-level1, .card-lego-bricks:hover .info-level1, .approach-card-extend:hover .info-level1 {
      background: rgba(140, 198, 63, 0.6); }
      .approach-card:hover .info-level1 p, .card-exploration:hover .info-level1 p, .card-ideation:hover .info-level1 p, .card-experliments:hover .info-level1 p, .card-prototype:hover .info-level1 p, .card-mvp:hover .info-level1 p, .card-lego-bricks:hover .info-level1 p, .approach-card-extend:hover .info-level1 p {
        transform: translateY(-20px);
        opacity: 1; }
    .approach-card img, .card-exploration img, .card-ideation img, .card-experliments img, .card-prototype img, .card-mvp img, .card-lego-bricks img, .approach-card-extend img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition-duration: 0.8s; }
    .approach-card .info-level1, .card-exploration .info-level1, .card-ideation .info-level1, .card-experliments .info-level1, .card-prototype .info-level1, .card-mvp .info-level1, .card-lego-bricks .info-level1, .approach-card-extend .info-level1 {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      transition-duration: .5s;
      left: 0;
      padding: 40px;
      background: rgba(140, 198, 63, 0); }
      .approach-card .info-level1 .title, .card-exploration .info-level1 .title, .card-ideation .info-level1 .title, .card-experliments .info-level1 .title, .card-prototype .info-level1 .title, .card-mvp .info-level1 .title, .card-lego-bricks .info-level1 .title, .approach-card-extend .info-level1 .title {
        font-size: 1.6rem; }
      .approach-card .info-level1 p, .card-exploration .info-level1 p, .card-ideation .info-level1 p, .card-experliments .info-level1 p, .card-prototype .info-level1 p, .card-mvp .info-level1 p, .card-lego-bricks .info-level1 p, .approach-card-extend .info-level1 p {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        opacity: 0;
        transition-duration: 0.5s;
        position: relative;
        top: 0px; }
    .approach-card .info-level2, .card-exploration .info-level2, .card-ideation .info-level2, .card-experliments .info-level2, .card-prototype .info-level2, .card-mvp .info-level2, .card-lego-bricks .info-level2, .approach-card-extend .info-level2 {
      display: none;
      transition-duration: .5s; }
    .approach-card .btn-close, .card-exploration .btn-close, .card-ideation .btn-close, .card-experliments .btn-close, .card-prototype .btn-close, .card-mvp .btn-close, .card-lego-bricks .btn-close, .approach-card-extend .btn-close {
      opacity: 0;
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.4) !important; }
      .approach-card .btn-close:before, .card-exploration .btn-close:before, .card-ideation .btn-close:before, .card-experliments .btn-close:before, .card-prototype .btn-close:before, .card-mvp .btn-close:before, .card-lego-bricks .btn-close:before, .approach-card-extend .btn-close:before {
        content: "";
        display: block;
        width: 24px;
        height: 4px;
        background: white;
        transform: rotate(45deg);
        position: absolute;
        top: 18px;
        left: 8px; }
      .approach-card .btn-close:after, .card-exploration .btn-close:after, .card-ideation .btn-close:after, .card-experliments .btn-close:after, .card-prototype .btn-close:after, .card-mvp .btn-close:after, .card-lego-bricks .btn-close:after, .approach-card-extend .btn-close:after {
        content: "";
        display: block;
        width: 24px;
        height: 4px;
        background: white;
        transform: rotate(-45deg);
        position: absolute;
        top: 18px;
        left: 8px; }
  .card-exploration, .card-ideation, .card-experliments, .card-prototype, .card-mvp, .card-lego-bricks {
    position: absolute !important;
    top: 20;
    left: 20; }
  .card-ideation {
    left: calc( (80vw + 9vw) / 3 * 1); }
  .card-experliments {
    left: calc( (80vw + 9vw) / 3 * 2); }
  .card-prototype {
    top: calc( ((80vw + 9vw) / 3 * 1)); }
  .card-mvp {
    top: calc( (80vw + 9vw) / 3 * 1);
    left: calc( (80vw + 9vw) / 3 * 1); }
  .card-lego-bricks {
    top: calc( (80vw + 9vw) / 3 * 1);
    left: calc( (80vw + 9vw) / 3 * 2); }
  .approach-card-extend {
    width: calc( 100% - 20*2px) !important;
    height: calc(100% - 20*2px) !important;
    z-index: 5;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    background: white;
    transition-duration: .5s;
    background-image: '' !important; }
    .approach-card-extend:hover .info-level1 {
      background: rgba(140, 198, 63, 0); }
      .approach-card-extend:hover .info-level1 p {
        transform: translateY(0px);
        opacity: 1; }
    .approach-card-extend img {
      opacity: 0; }
    .approach-card-extend .info-level1 {
      display: block;
      position: absolute;
      width: 100%;
      height: 30%;
      top: 0;
      transition-duration: .5s;
      left: 0; }
      .approach-card-extend .info-level1 .title {
        margin: 0;
        position: relative;
        left: 0;
        font-size: 1.6rem; }
      .approach-card-extend .info-level1 p {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition-duration: 0.5s;
        position: relative;
        top: 50px; }
    .approach-card-extend .info-level2 {
      display: block;
      transition-duration: .5s;
      position: absolute;
      top: 20%; }
      .approach-card-extend .info-level2 .detailedinfo .inputinfo ul, .approach-card-extend .info-level2 .detailedinfo .todoinfo ul, .approach-card-extend .info-level2 .detailedinfo .deliverableinfo ul {
        list-style-type: none; }
    .approach-card-extend .btn-close {
      opacity: 1;
      right: 40px;
      top: 40px; } }
