.footer {
  background: #efefef;
  width: 100%;
  height: 140px;
  border-width: 5px 0px 0px 0px;
  border-color: #68E4A3;
  box-sizing: border-box !important;
  padding: 30px 50px;
  position: relative; }
  .footer .left-items .logo {
    position: relative;
    top: 0;
    left: 0;
    width: 46px;
    display: inline-flex; }
    .footer .left-items .logo img {
      width: 100%;
      height: 100%; }
  .footer .left-items .copyrightinfo {
    margin-left: 30px;
    display: inline-block;
    position: relative; }
    .footer .left-items .copyrightinfo h5 {
      font-size: 1.6rem;
      display: block; }
    .footer .left-items .copyrightinfo h6 {
      font-size: 1.2rem;
      display: block; }
    .footer .left-items .copyrightinfo p {
      font-size: 0.8rem;
      display: block;
      margin: 0; }
  .footer .contactinfo {
    display: inline-block;
    position: relative;
    text-align: right;
    float: right; }
    .footer .contactinfo h5 {
      font-size: 1.6rem;
      display: block;
      text-align: right; }
    .footer .contactinfo h6 {
      font-size: 1.2rem;
      display: block;
      text-align: right; }
    .footer .contactinfo p {
      font-size: 0.8rem;
      display: block;
      text-align: right; }
  .footer h5 {
    font-size: 1.6rem;
    display: block; }
  .footer h6 {
    font-size: 1.2rem;
    display: block; }
  .footer p {
    font-size: 0.8rem;
    display: block; }
