@import url(../index.css);
.nav-header {
  position: fixed !important;
  top: 0;
  width: 100vw;
  height: 56px;
  display: block;
  color: #444444;
  background: rgba(0, 0, 0, 0);
  z-index: 10; }
  .nav-header .lab-title {
    display: inline-block;
    width: calc( 100% - 40vw);
    height: 56px;
    position: relative; }
    .nav-header .lab-title .logo {
      height: 100%;
      margin-left: 50px;
      max-width: 25px;
      display: inline-block;
      position: absolute;
      top: 5px; }
      .nav-header .lab-title .logo img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 3px; }
    .nav-header .lab-title h1 {
      display: inline-block;
      line-height: 56px;
      font-size: 1.2em;
      padding-left: 20px;
      position: absolute;
      top: 0;
      left: 100px; }
  .nav-header .tabs_labels {
    display: block;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0px; }
    .nav-header .tabs_labels a .tab-item, .nav-header .tabs_labels a .tab-item-selected {
      display: inline-block;
      width: 10vw;
      height: 56px;
      line-height: 56px;
      text-align: center;
      text-decoration: none; }
      .nav-header .tabs_labels a .tab-item:hover span, .nav-header .tabs_labels a .tab-item-selected:hover span {
        color: #3F45A0 !important; }
      .nav-header .tabs_labels a .tab-item span, .nav-header .tabs_labels a .tab-item-selected span {
        text-decoration: none;
        color: grey; }
    .nav-header .tabs_labels a .tab-item-selected {
      transition-duration: .5s; }
      .nav-header .tabs_labels a .tab-item-selected span {
        color: black !important;
        font-weight: bold !important; }
    .nav-header .tabs_labels .tab-indicator {
      transition-duration: .5s;
      display: block;
      position: absolute;
      background: #3F45A0;
      width: 10vw;
      height: 4px;
      bottom: 0px;
      left: 0px; }
    .nav-header .tabs_labels .tab-active {
      transition-duration: .5s; }

@media only screen and (max-width: 1200px) {
  .nav-header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    display: block;
    color: #444444;
    background: rgba(0, 0, 0, 0);
    z-index: 10; }
    .nav-header .lab-title {
      display: inline-block;
      width: calc( 100% - 40vw);
      height: 56px;
      position: relative; }
      .nav-header .lab-title .logo {
        height: 100%;
        margin-left: 50px;
        max-width: 25px;
        display: inline-block;
        position: absolute;
        top: 5px; }
        .nav-header .lab-title .logo img {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          top: 3px; }
      .nav-header .lab-title h1 {
        display: inline-block;
        line-height: 56px;
        font-size: 1.2em;
        padding-left: 20px;
        position: absolute;
        top: 0;
        left: 100px; }
    .nav-header ul {
      display: block;
      list-style-type: none;
      position: absolute;
      right: 0;
      top: 0px; }
      .nav-header ul .tab-item, .nav-header ul .tabs_labels a .tab-item-selected, .nav-header .tabs_labels a ul .tab-item-selected {
        display: inline-block;
        width: 10vw;
        height: 56px;
        line-height: 56px;
        text-align: center;
        text-decoration: none; }
        .nav-header ul .tab-item a, .nav-header ul .tabs_labels a .tab-item-selected a, .nav-header .tabs_labels a ul .tab-item-selected a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%; }
          .nav-header ul .tab-item a:hover span, .nav-header ul .tabs_labels a .tab-item-selected a:hover span, .nav-header .tabs_labels a ul .tab-item-selected a:hover span {
            color: #3F45A0 !important; }
          .nav-header ul .tab-item a span, .nav-header ul .tabs_labels a .tab-item-selected a span, .nav-header .tabs_labels a ul .tab-item-selected a span {
            text-decoration: none;
            color: grey; }
      .nav-header ul .tab-item-selected {
        transition-duration: .5s;
        display: inline-block;
        width: 10vw;
        height: 56px;
        line-height: 56px;
        text-align: center;
        text-decoration: none; }
        .nav-header ul .tab-item-selected a span {
          color: black !important;
          font-weight: bold !important; }
      .nav-header ul .tab-indicator {
        transition-duration: .5s;
        display: block;
        position: absolute;
        background: #3F45A0;
        width: 10vw;
        height: 4px;
        bottom: 0px;
        left: 0px; }
      .nav-header ul .tab-active {
        transition-duration: .5s; } }
