.uiuc-section{
	width: 100%;
	height: auto;
	position: relative;
	// display: block;
	background: #F5A623;
	margin-top: 10vh;
	padding: 15vh 0;

	.uiuc-img{
		width: 60%;
		height: 70%;
		// background: #efefef;
		position: absolute;
		top: -45%;
		left: 10%;
	}
	.section-title{
		// position: absolute;
		// left: calc(50% - 5%);
		// top: 12vh;
		text-align: center;
	}
	p{
		position: absolute;
		left: 10%;
		top: calc( 50% + 10%);
		width: 80%;
		display: block;
	}

}