.uiuc-section {
  width: 100%;
  height: auto;
  position: relative;
  background: #F5A623;
  margin-top: 10vh;
  padding: 15vh 0; }
  .uiuc-section .uiuc-img {
    width: 60%;
    height: 70%;
    position: absolute;
    top: -45%;
    left: 10%; }
  .uiuc-section .section-title {
    text-align: center; }
  .uiuc-section p {
    position: absolute;
    left: 10%;
    top: calc( 50% + 10%);
    width: 80%;
    display: block; }
