@import '../../style_global/variable.scss';
@import '../../style_global/mixin.scss';

.section-container{
	// width: 100%;
	// display: block;
	position: relative;
	top: 3vh;
	// .paragraph-left{

	// }
	.paragraph-section{
		// @include paragraph-section(10vh, 40vw,left, 70vw );
		margin-bottom: 5vh;
		@include paragraph-section-font-xl();
		h4{
			margin-top: 3rem;
		}
		.section-img{
			// position: relative;
			// display: inline-block;
			// width: 20vw;
			// height: 20vw;
			// top:-10vh;
			img{
				width: 100%;
				height: auto;
			}

		}
		// .section-img-right{
		// 	// left: 45vw;
		// }
		// .section-img-left{
		// 	left: 0vw;
		// 	// top:0vh;
		// }
	}
	// .paragraph-section{
	// 	// @include paragraph-section(10vh, 40vw,right, 70vw );
	// 	@include paragraph-section-font-xl();

	// 	.section-img{
	// 		position: relative;
	// 		// display: inline-block;
	// 		// width: 20vw;
	// 		// height: 20vw;
	// 		// top:-10vh;
	// 		img{
	// 			width: 100%;
	// 			height: auto;
	// 		}
	// 	}
	// 	// .section-img-right{
	// 	// 	left: 45vw;
	// 	// }
	// 	// .section-img-left{
	// 	// 	left: 5vw;
	// 	// 	// top:0vh;
	// 	// }
	// }
}
.scroll-indicator-left{
	top: -20vw;
}
.focussection{
	height: auto;
	top: -20vh;
	background: rgba(0,0,0,0.05);
	padding-top: 30vh;
	padding-bottom: 15vh;

}
@media only screen and (max-width: 1200px) {
	// .section-container{
	// 	width: 100%;
	// 	display: block;
	// 	position: relative;
	// 	top: 3vh;
	// 	.paragraph-left{

	// 	}
	// 	.paragraph-section-left{
	// 		@include paragraph-section(10vh, 40vw,left, 70vw );
	// 		h3{
	// 			text-align: right;
	// 			font-size: $title-font-size-h3-m;
				
	// 		}
	// 		h5{
	// 			font-size: $paragraph-font-size-h5-m;
	// 		}
	// 		ul{
	// 			font-size: $paragraph-font-size-h5-m;
				

	// 			li{
	// 				font-size: $paragraph-font-size-h5-m;
					
	// 			}
	// 		}
	// 		h4{
	// 			margin-top: 3rem;
	// 		}
	// 		.section-img{
	// 			position: relative;
	// 			display: inline-block;
	// 			width: 20vw;
	// 			height: 20vw;
	// 			top:-10vh;

	// 		}
	// 		.section-img-right{
	// 			left: 45vw;
	// 		}
	// 		.section-img-left{
	// 			left: 0vw;
	// 			// top:0vh;
	// 		}
	// 	}
	// 	.paragraph-section{
	// 		@include paragraph-section(10vh, 40vw,right, 70vw );
	// 		h3{
	// 			text-align: right;
	// 			font-size: $title-font-size-h3-m;
				
	// 		}
	// 		h5{
	// 			font-size: $paragraph-font-size-h5-m;
	// 		}
	// 		ul{
	// 			font-size: $paragraph-font-size-h5-m;
				

	// 			li{
	// 				font-size: $paragraph-font-size-h5-m;
					
	// 			}
	// 		}
	// 		.section-img{
	// 			position: relative;
	// 			display: inline-block;
	// 			width: 20vw;
	// 			height: 20vw;
	// 			top:-10vh;

	// 		}
	// 		.section-img-right{
	// 			left: 45vw;
	// 		}
	// 		.section-img-left{
	// 			left: 5vw;
	// 			// top:0vh;
	// 		}
	// 	}
	// }
	// .focussection{
	// 	height: auto;
	// 	top: -20vh;
	// 	background: rgba(0,0,0,0.05);
	// 	padding-top: 20vh;
	// 	padding-bottom: 18vh;
	// 	.scroll-indicator-left{
	// 		top: -25vw;
	// 	}
	// }
}