.section-container {
  width: 100%;
  display: block;
  position: relative;
  top: 3vh; }
  .section-container .paragraph-section-right {
    margin-bottom: 10vh; }
    .section-container .paragraph-section-right h3 {
      font-size: 3rem; }
    .section-container .paragraph-section-right h4 {
      font-size: 2rem; }
    .section-container .paragraph-section-right h5 {
      font-size: 1.2rem; }
    .section-container .paragraph-section-right p {
      font-size: 1rem; }
    .section-container .paragraph-section-right ul {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: 200; }
      .section-container .paragraph-section-right ul li {
        font-size: 1.2rem;
        font-weight: 200; }
    .section-container .paragraph-section-right h3 {
      text-align: right; }

h3 {
  font-size: 3rem; }

p {
  font-size: 1rem; }

.missionsection {
  clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
  -webkit-clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
  height: auto;
  background: #60D0B7;
  z-index: 2;
  padding-bottom: 15vh;
  padding-top: 15vh; }

@media only screen and (max-width: 1200px) {
  .section-container {
    width: 100%;
    position: relative;
    top: 3vh; }
    .section-container .paragraph-section-right {
      width: 70vw;
      height: auto;
      display: block;
      top: 15vh;
      margin-bottom: 10vh; }
      .section-container .paragraph-section-right h3 {
        font-size: 3rem;
        text-align: left;
        display: block;
        position: relative;
        width: 50vw;
        left: calc(100% - 50vw) !important; }
      .section-container .paragraph-section-right h4 {
        font-size: 2rem;
        text-align: left;
        display: block;
        position: relative;
        width: 50vw;
        left: calc(100% - 50vw) !important; }
      .section-container .paragraph-section-right h5 {
        font-size: 1.2rem;
        font-weight: 200;
        top: 1rem;
        text-align: left;
        display: block;
        position: relative;
        width: 50vw;
        left: calc(100% - 50vw) !important; }
      .section-container .paragraph-section-right ul {
        font-size: 1.2rem;
        font-weight: 200;
        left: calc(100% - 50vw) !important;
        display: block;
        width: 50vw;
        position: relative;
        top: 3rem;
        list-style-type: none; }
        .section-container .paragraph-section-right ul li {
          font-size: 1.2rem;
          font-weight: 200; }
      .section-container .paragraph-section-right h3 {
        text-align: right;
        font-size: 2rem; }
      .section-container .paragraph-section-right h5 {
        font-size: 1rem; }
      .section-container .paragraph-section-right ul {
        font-size: 1rem; }
        .section-container .paragraph-section-right ul li {
          font-size: 1rem; }
  h3 {
    font-size: 3rem; }
  p {
    font-size: 1rem; }
  .missionsection {
    clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
    -webkit-clip-path: polygon(0 86%, 0% 0%, 100% 0%, 100% 100%);
    height: auto;
    background: #60D0B7;
    z-index: 2;
    padding-bottom: 30vh;
    padding-top: 10vh; } }
