.people-cards-set {
  width: 80%;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.ft-set {
  width: 100%; }

.it-set {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
