.people-card {
  list-style: none;
  display: inline-block;
  margin-bottom: 3rem; }

.card-ft {
  padding: 20px;
  text-align: center; }
  .card-ft .profile-picture {
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
    .card-ft .profile-picture img {
      width: 100%;
      height: auto;
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%); }
    .card-ft .profile-picture:after {
      content: '';
      display: block;
      width: 6px;
      height: 60px;
      border-radius: 3px;
      position: relative;
      top: -40px;
      left: calc(50% - 3px);
      background: #60D0B7; }

.card-it {
  height: auto;
  padding: 20px;
  text-align: center; }
  .card-it .profile-picture {
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
    .card-it .profile-picture img {
      width: 100%;
      height: auto;
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%); }
