.title-word {
  position: relative;
  height: 8rem;
  display: block; }

.title-cht {
  position: relative;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 0px;
  transition-duration: .5s;
  color: #F5A623;
  display: inline-block;
  width: auto;
  height: auto; }

.chat-front {
  position: relative;
  top: 0;
  left: 0;
  color: black; }

.chat-back {
  position: absolute;
  top: 10px;
  left: 10px; }

.title-side-bar {
  width: 16px;
  height: calc(24rem + 4rem);
  position: absolute;
  background: black;
  left: -3rem;
  z-index: 10; }

@media only screen and (max-width: 1200px) {
  .title-word {
    position: relative;
    height: 6rem;
    display: block; }
  .title-cht {
    position: relative;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0px;
    transition-duration: .5s;
    color: #F5A623;
    display: inline-block;
    width: auto;
    height: auto; }
  .chat-front {
    position: relative;
    top: 0;
    left: 0;
    color: black; }
  .chat-back {
    position: absolute;
    top: 6px;
    left: 6px; }
  .title-side-bar {
    width: 14px;
    height: calc(18rem + 4rem);
    position: absolute;
    background: black;
    top: calc(0rem);
    z-index: 10; } }
