$chat_num : 20;
.title-word{
	position: relative;
	// top:;
	height: 8rem;
	display: block;
}
.title-cht{
	// color: red;
	position: relative;
	font-size: 8rem;
	font-weight: 900;
	letter-spacing: 0px;
	transition-duration: .5s;
	color: #F5A623;
	display: inline-block;
	// top: 10vh;
	width: auto;
	height: auto;
	// margin-top: 50vh;
	// top: random(50)+px;
}
.chat-front{
	position: relative;
	top:0;
	left: 0;
	color: black;

}
.chat-back{
	position: absolute;
	top:10px;
	left: 10px;
}
// .parallax-style{
// 	display: inline-block;

// }
// @for $i from 0 through $chat_num {
// 	.chat-#{$i}{
// 		top: (random(10)*10)+px;
// 		color: green;
// 		transition-duration: .5s;
// 		animation: title-move .3s ease-in-out both;
// 	}
// }
 
// [class^="chat-"]{
// 	color: blue !important;
// 	&:hover{
// 		font-weight: 700;
// 		color: green;
// 	}
// }

// @keyframe title-move {
// 	from{

// 	}
// 	to{
// 		top: 0px;
// 	}
// }