@import 'shared_style/mixin_processpage.scss';
@import 'shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

.work-process-Futuresupport{
	width: 100%;
	height: auto;
	left: 0;
	position: relative;
	top: 0;
	
	.content-section{
		@include content-section(#efefef,auto);
		clip-path: polygon(0 100%, 0% 0%, 100% 14%, 100% 100%);
		-webkit-clip-path: polygon(0 100%, 0% 0%, 100% 14%, 100% 100%);
		padding: 15vh 0;
		
		.paragraph-section{
			@include paragraph-section-font-xl();
			// @include paragraph-section(15vh, 50vw, left);
			// position: absolute;
			// left: 30vw;

		}
		
	}
	
}
@media only screen and (max-width: 1200px) {
	.work-process-Futuresupport{
		width: 100%;
		height: auto;
		left: 0;
		position: relative;
		top: 0;
		
		.content-section{
			@include content-section(#efefef,50vw);
			clip-path: polygon(0 100%, 0% 0%, 100% 14%, 100% 100%);
			-webkit-clip-path: polygon(0 100%, 0% 0%, 100% 14%, 100% 100%);

			
			.paragraph-section{

				@include paragraph-section(18vw, 50vw, left, $GLOBAL_CONTENT_WIDTH_M);
				// position: absolute;
				// left: 30vw;
				h3{
					font-size: $title-font-size-h3-m;
					
				}
				h5{
					font-size: $paragraph-font-size-h5-m;
				}
				ul{
					font-size: $paragraph-font-size-h5-m;
					

					li{
						font-size: $paragraph-font-size-h5-m;
						
					}
				}

			}
			
		}
		.scroll-indicator-right{
			// position: relative;
			.scroll-indicator-icon{
				// position: relative;
				img{
					// width: 5vw;
					top: -5vw;
					position: relative;
				}
			}
		}
		
	}
}