.work-process-outcome {
  width: 100%;
  height: 800px;
  left: 0;
  position: relative;
  top: 0; }
  .work-process-outcome img {
    position: relative;
    top: 10vh;
    letf: 0;
    width: 45vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 10vw;
    z-index: 5; }
  .work-process-outcome .content-section {
    display: block;
    height: 900px;
    width: 100%;
    position: relative;
    left: 0;
    background: #ffffff;
    clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
    -webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%); }
    .work-process-outcome .content-section .paragraph-section {
      position: relative;
      width: 60vw;
      height: auto;
      margin: auto;
      display: block;
      top: 15vh;
      position: absolute;
      left: 30vw; }
      .work-process-outcome .content-section .paragraph-section h3 {
        font-size: 3rem;
        text-align: left;
        display: block;
        position: relative;
        width: 30vw;
        left: calc(100% - 30vw) !important; }
      .work-process-outcome .content-section .paragraph-section h5 {
        font-size: 1.2rem;
        font-weight: 200;
        top: 1rem;
        text-align: left;
        display: block;
        position: relative;
        width: 30vw;
        left: calc(100% - 30vw) !important; }
      .work-process-outcome .content-section .paragraph-section ul {
        font-size: 1.2rem;
        font-weight: 200;
        left: calc(100% - 30vw) !important;
        display: block;
        width: 30vw;
        position: relative;
        top: 3rem;
        list-style-type: none; }
        .work-process-outcome .content-section .paragraph-section ul li {
          font-size: 1.2rem;
          font-weight: 200; }
    .work-process-outcome .content-section .button-set {
      width: 60vw;
      height: auto;
      margin: 0px auto;
      display: block;
      position: relative;
      top: 25vh;
      left: 0vw; }
      .work-process-outcome .content-section .button-set button {
        display: inline-block;
        width: auto;
        padding: .5rem 1rem;
        background: white;
        border-radius: 5px;
        border: 2px solid grey;
        margin-right: 20px; }
  .work-process-outcome .scroll-indicator-left {
    z-index: 1;
    overflow: visible; }
    .work-process-outcome .scroll-indicator-left .side-caption-left:after {
      width: 15vw;
      left: -5vw; }

@media only screen and (max-width: 1200px) {
  .work-process-outcome {
    width: 100%;
    height: 65vw;
    left: 0;
    position: relative;
    top: 0; }
    .work-process-outcome img {
      position: relative;
      top: 12vw;
      letf: 0;
      width: 55vw;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      left: 0vw;
      z-index: 5; }
    .work-process-outcome .content-section {
      display: block;
      height: 65vw;
      width: 100%;
      position: relative;
      left: 0;
      background: #ffffff;
      clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
      -webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%); }
      .work-process-outcome .content-section .paragraph-section {
        position: relative;
        width: 80vw;
        height: auto;
        margin: auto;
        display: block;
        top: 16vw;
        position: absolute;
        left: 10vw; }
        .work-process-outcome .content-section .paragraph-section h3 {
          font-size: 3rem;
          text-align: left;
          display: block;
          position: relative;
          width: 30vw;
          left: calc(100% - 30vw) !important; }
        .work-process-outcome .content-section .paragraph-section h5 {
          font-size: 1.2rem;
          font-weight: 200;
          top: 1rem;
          text-align: left;
          display: block;
          position: relative;
          width: 30vw;
          left: calc(100% - 30vw) !important; }
        .work-process-outcome .content-section .paragraph-section ul {
          font-size: 1.2rem;
          font-weight: 200;
          left: calc(100% - 30vw) !important;
          display: block;
          width: 30vw;
          position: relative;
          top: 3rem;
          list-style-type: none; }
          .work-process-outcome .content-section .paragraph-section ul li {
            font-size: 1.2rem;
            font-weight: 200; }
        .work-process-outcome .content-section .paragraph-section h3 {
          font-size: 2rem; }
        .work-process-outcome .content-section .paragraph-section h5 {
          font-size: 1rem; }
        .work-process-outcome .content-section .paragraph-section ul {
          font-size: 1rem; }
          .work-process-outcome .content-section .paragraph-section ul li {
            font-size: 1rem; }
      .work-process-outcome .content-section .button-set {
        width: 60vw;
        height: auto;
        margin: 0px auto;
        display: block;
        position: relative;
        top: 25vh;
        left: 0vw; }
        .work-process-outcome .content-section .button-set button {
          display: inline-block;
          width: auto;
          padding: .5rem 1rem;
          background: white;
          border-radius: 5px;
          border: 2px solid grey;
          margin-right: 20px; }
    .work-process-outcome .scroll-indicator-left {
      z-index: 1;
      overflow: visible; }
      .work-process-outcome .scroll-indicator-left .side-caption-left:after {
        width: 15vw;
        left: -5vw; } }
