.work-process-outcome {
  width: 100%;
  height: auto;
  left: 0;
  position: relative;
  top: 0; }
  .work-process-outcome .content-section {
    height: auto;
    width: 100%;
    left: 0;
    background: #ffffff;
    padding: 15vh 0;
    height: auto; }
    .work-process-outcome .content-section .paragraph-section h3 {
      font-size: 3rem; }
    .work-process-outcome .content-section .paragraph-section h4 {
      font-size: 2rem; }
    .work-process-outcome .content-section .paragraph-section h5 {
      font-size: 1.2rem; }
    .work-process-outcome .content-section .paragraph-section p {
      font-size: 1rem; }
    .work-process-outcome .content-section .paragraph-section ul {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: 200; }
      .work-process-outcome .content-section .paragraph-section ul li {
        font-size: 1.2rem;
        font-weight: 200; }
    .work-process-outcome .content-section .side-img {
      width: 100%;
      height: 100%;
      position: relative; }
      .work-process-outcome .content-section .side-img:after {
        content: '';
        display: block;
        padding-bottom: 100%; }
      .work-process-outcome .content-section .side-img img {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 5; }
  .work-process-outcome .scroll-indicator-left {
    z-index: 1;
    overflow: visible; }
    .work-process-outcome .scroll-indicator-left .side-caption-left:after {
      width: 15vw;
      left: -5vw; }

@media only screen and (max-width: 1200px) {
  .work-process-outcome {
    width: 100%;
    height: auto;
    left: 0;
    position: relative;
    top: 0; }
    .work-process-outcome .content-section {
      height: auto;
      width: 100%;
      left: 0;
      background: #ffffff;
      padding: 15vh 0;
      height: auto; }
      .work-process-outcome .content-section .side-img {
        width: 100%;
        height: 100%;
        position: relative; }
        .work-process-outcome .content-section .side-img img {
          width: 100%;
          height: auto;
          position: absolute;
          left: 0vw;
          z-index: 5; }
      .work-process-outcome .content-section .paragraph-section h3 {
        font-size: 2rem; }
      .work-process-outcome .content-section .paragraph-section h5 {
        font-size: 1rem; }
      .work-process-outcome .content-section .paragraph-section ul {
        font-size: 1rem; }
        .work-process-outcome .content-section .paragraph-section ul li {
          font-size: 1rem; }
    .work-process-outcome .scroll-indicator-left {
      z-index: 1;
      overflow: visible; }
      .work-process-outcome .scroll-indicator-left .side-caption-left:after {
        width: 15vw;
        left: -5vw; } }

@media only screen and (max-width: 720px) {
  .work-process-outcome .content-section .side-img {
    width: 100%;
    height: 100%;
    position: relative; }
    .work-process-outcome .content-section .side-img img {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0vw;
      z-index: 5; } }
