.work-process-scope {
  width: 100%;
  height: auto;
  left: 0;
  position: relative;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), #eeeeee 50%);
  padding: 0; }
  .work-process-scope .content-section {
    height: auto;
    width: 100%;
    left: 0;
    background: #eeeeee;
    clip-path: polygon(0 101%, 0% 14%, 100% 0%, 100% 101%);
    -webkit-clip-path: polygon(0 101%, 0% 14%, 100% 0%, 100% 101%);
    padding: 25vh 0; }
    .work-process-scope .content-section .paragraph-section h3 {
      font-size: 3rem; }
    .work-process-scope .content-section .paragraph-section h4 {
      font-size: 2rem; }
    .work-process-scope .content-section .paragraph-section h5 {
      font-size: 1.2rem; }
    .work-process-scope .content-section .paragraph-section p {
      font-size: 1rem; }
    .work-process-scope .content-section .paragraph-section ul {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: 200; }
      .work-process-scope .content-section .paragraph-section ul li {
        font-size: 1.2rem;
        font-weight: 200; }
    .work-process-scope .content-section .paragraph-section .button-set {
      height: auto;
      margin: 0px auto;
      display: block;
      position: relative; }
      .work-process-scope .content-section .paragraph-section .button-set button {
        display: inline-block;
        width: auto;
        padding: .5rem 1rem;
        background: white;
        border-radius: 5px;
        border: 2px solid grey;
        margin-right: 20px; }
  .work-process-scope .scroll-indicator-left {
    z-index: 1;
    top: 3vw; }
    .work-process-scope .scroll-indicator-left .side-caption-left:after {
      width: 15vw;
      left: 0; }

@media only screen and (max-width: 1200px) {
  .work-process-scope {
    width: 100%;
    height: auto;
    left: 0;
    position: relative;
    top: 0; }
    .work-process-scope .content-section {
      height: 65vw;
      width: 100%;
      left: 0;
      background: #eeeeee;
      clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%);
      -webkit-clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%); }
      .work-process-scope .content-section .paragraph-section {
        position: relative; }
        .work-process-scope .content-section .paragraph-section h3 {
          font-size: 3rem;
          text-align: left;
          display: block;
          position: relative;
          width: 50vw;
          left: 0; }
        .work-process-scope .content-section .paragraph-section h5 {
          font-size: 1.2rem;
          font-weight: 200;
          top: 1rem;
          text-align: left;
          display: block;
          position: relative;
          width: 50vw;
          left: 0; }
        .work-process-scope .content-section .paragraph-section ul {
          font-size: 1.2rem;
          font-weight: 200;
          left: 0;
          display: block;
          width: 50vw;
          position: relative;
          top: 3rem;
          list-style-type: none; }
          .work-process-scope .content-section .paragraph-section ul li {
            font-size: 1.2rem;
            font-weight: 200; }
        .work-process-scope .content-section .paragraph-section h3 {
          font-size: 2rem; }
        .work-process-scope .content-section .paragraph-section h5 {
          font-size: 1rem; }
        .work-process-scope .content-section .paragraph-section ul {
          font-size: 1rem; }
          .work-process-scope .content-section .paragraph-section ul li {
            font-size: 1rem; }
      .work-process-scope .content-section .button-set {
        width: 80vw;
        height: auto;
        margin: 0px auto;
        display: block;
        position: relative;
        top: 26vw;
        left: 0vw; }
        .work-process-scope .content-section .button-set button {
          display: inline-block;
          width: auto;
          padding: .5rem 1rem;
          background: white;
          border-radius: 5px;
          border: 2px solid grey; }
    .work-process-scope .scroll-indicator-left {
      z-index: 1;
      top: 0vw; }
      .work-process-scope .scroll-indicator-left .side-indicator-bar {
        width: 20vw; } }
