@import 'shared_style/mixin_processpage.scss';
@import 'shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

.work-process-scope{
	width: 100%;
	height: auto;
	left: 0;
	position: relative;
	top: 0;
	background: linear-gradient(rgba(255,255,255,0), #eeeeee 50%);
	padding: 0;
			
	.content-section{
		@include content-section(#eeeeee, auto);
		clip-path: polygon(0 101%, 0% 14%, 100% 0%, 100% 101%);
		-webkit-clip-path: polygon(0 101%, 0% 14%, 100% 0%, 100% 101%);
		padding: 25vh 0;


		.paragraph-section{

			// @include paragraph-section(20vh, 50vw, left);
			@include paragraph-section-font-xl();
			.button-set{

				// width: $GLOBAL_CONTENT_WIDTH;
				height: auto;
				margin: 0px auto;
				display: block;
				// top: 50px;
				position: relative;
				// top: 25vh;
				// left: 0vw;

				button{

					display: inline-block;
					width: auto;
					// height: rem;
					padding: .5rem 1rem;
					background: white;
					border-radius: 5px;
					border: 2px solid grey;
					margin-right: 20px;

				}
			}
		}
		
	}
	.scroll-indicator-left{
		z-index: 1;
		top: 3vw;
		.side-caption-left{
			&:after{
				width:15vw;
				left: 0;
			}
		}
	}
}
@media only screen and (max-width: 1200px) {
	.work-process-scope{
		width: 100%;
		height: auto;
		left: 0;
		position: relative;
		top: 0;
		
		.content-section{
			@include content-section(#eeeeee,auto);
			clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%);
			-webkit-clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%);
			padding: 15vh 0;

			.paragraph-section{

				// @include paragraph-section(20vh, 50vw, left, 80vw);
				@include paragraph-section(18vw, 50vw, left, $GLOBAL_CONTENT_WIDTH_M);
				h3{
					font-size: $title-font-size-h3-m;
					
				}
				h5{
					font-size: $paragraph-font-size-h5-m;
				}
				ul{
					font-size: $paragraph-font-size-h5-m;
					

					li{
						font-size: $paragraph-font-size-h5-m;
						
					}
				}

			}
			.button-set{

				width: $GLOBAL_CONTENT_WIDTH_M;
				height: auto;
				margin: 0px auto;
				display: block;
				// top: 50px;
				position: relative;
				top: 3rem;
				// top: 26vw;
				// left: 0vw;

				button{

					display: inline-block;
					width: auto;
					// height: rem;
					padding: .5rem 1rem;
					background: white;
					border-radius: 5px;
					border: 2px solid grey;
					// margin-right: 20px;

				}
			}
		}
		.scroll-indicator-left{
			z-index: 1;
			top: 0vw;
			.side-indicator-bar{
				width:20vw;
			}
			.side-caption-left{
				// &:after{
				// 	width:15vw;
				// 	left: 0;
				// }
			}
		}
	}
}
