@import 'shared_style/mixin_processpage.scss';
@import 'shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

.work-process-scope{
	width: 100%;
	height: 800px;
	left: 0;
	position: relative;
	top: 0;
	
	.content-section{
		@include content-section(#eeeeee,800px);
		clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%);
		-webkit-clip-path: polygon(0 100%, 0% 14%, 100% 0%, 100% 100%);


		.paragraph-section{

			@include paragraph-section(20vh, 50vw, left);

		}
		.button-set{

			width: $GLOBAL_CONTENT_WIDTH;
			height: auto;
			margin: 0px auto;
			display: block;
			// top: 50px;
			position: relative;
			top: 25vh;
			left: 0vw;

			button{

				display: inline-block;
				width: auto;
				// height: rem;
				padding: .5rem 1rem;
				background: white;
				border-radius: 5px;
				border: 2px solid grey;
				margin-right: 20px;

			}
		}
	}
	.scroll-indicator-left{
		z-index: 1;
		top: 5vw;
		.side-caption-left{
			&:after{
				width:15vw;
				left: 0;
			}
		}
	}
}
