.work-process-ques {
  width: 100%;
  height: auto;
  left: 0;
  position: relative;
  top: 0; }
  .work-process-ques .content-section {
    height: auto;
    width: 100%;
    left: 0;
    background: #ffffff;
    padding: 15vh 0; }
    .work-process-ques .content-section .paragraph-section h3 {
      font-size: 3rem; }
    .work-process-ques .content-section .paragraph-section h4 {
      font-size: 2rem; }
    .work-process-ques .content-section .paragraph-section h5 {
      font-size: 1.2rem; }
    .work-process-ques .content-section .paragraph-section p {
      font-size: 1rem; }
    .work-process-ques .content-section .paragraph-section ul {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: 200; }
      .work-process-ques .content-section .paragraph-section ul li {
        font-size: 1.2rem;
        font-weight: 200; }
    .work-process-ques .content-section .button-set {
      height: auto;
      display: block;
      position: relative; }
      .work-process-ques .content-section .button-set button {
        display: inline-block;
        width: auto;
        padding: .5rem 1rem;
        background: white;
        border-radius: 5px;
        border: 2px solid grey;
        margin-right: 20px;
        margin-bottom: 20px; }

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 2rem !important; }
  h5 {
    font-size: 1rem !important; }
  ul {
    font-size: 1rem; }
    ul li {
      font-size: 1rem; } }
