@import 'shared_style/mixin_processpage.scss';
@import 'shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

.work-process-ques{
	width: 100%;
	height: auto;
	left: 0;
	position: relative;
	top: 0;
	
	.content-section{
		@include content-section(#ffffff,55vh);

		.paragraph-section{

			@include paragraph-section(10vh, 50vw, right);

		}
		.button-set{

			width: $GLOBAL_CONTENT_WIDTH;
			height: auto;
			margin: 0 auto;
			display: block;
			// top: 50px;
			position: relative;
			top: 20vh;
			left: 10vw;

			button{
				display: inline-block;
				width: auto;
				// height: rem;
				padding: .5rem 1rem;
				background: white;
				border-radius: 5px;
				border: 2px solid grey;
				margin-right: 20px;

			}
		}
	}
}