.scroll-indicator-left, .scroll-indicator-right {
  width: 30vw;
  height: 1.2rem;
  transform: rotate(90deg);
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -webkit-transform: rotate(90deg);
  position: relative;
  left: 15vw;
  z-index: 5;
  top: -18vw; }
  .scroll-indicator-left .side-indicator-bar, .scroll-indicator-right .side-indicator-bar {
    width: 15vw;
    height: 5px;
    position: relative;
    background: black;
    display: inline-block;
    top: -0.2rem;
    left: 0px; }
  .scroll-indicator-left .side-caption-left, .scroll-indicator-right .side-caption-left, .scroll-indicator-right .side-caption-right {
    font-size: 1rem;
    transform: rotate(180deg) !important;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    margin: 0 20px; }
  .scroll-indicator-left .scroll-indicator-icon, .scroll-indicator-right .scroll-indicator-icon {
    transform: rotate(-90deg) !important;
    width: 80px;
    height: auto;
    position: absolute;
    top: calc(-80px - 0.3rem); }

.scroll-indicator-right {
  position: relative;
  float: right;
  right: 0;
  top: -8vw;
  z-index: 5; }
