@import 'shared_style/mixin_processpage.scss';
@import 'shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

$bg-image-width-l: 60%;
$bg-image-width-m: 70%;

.work-process-greeting{
	// width: 100%;
	height: auto;
	left: 0;
	position: relative;

	.content-section{
		
		clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
		-webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
		@include content-section($linear_gradient_green,50vw);


		.paragraph-section{
			// @include paragraph-section(18vw, 40vw, left, 100%);
			// position: relative;
			// top: calc(50% - 4rem);
			// display: flex;
			// flex-direction:row;
			@include paragraph-section-font-xl();
			align-items: center; 

		}
		.section-bg{
			position: absolute;
			left: calc(100% - #{$bg-image-width-l} - 5%);
			// top: 20vh;
			// margin-right: auto;
			// margin-left: auto;
			rigth: 0;
			bottom: 0;
			width:$bg-image-width-l;
			height: auto;
			display: block;
			// filter:invert(100%) grayscale(100%) opacity(100%); 

			// img{
			// 	width: 100%;
			// 	height: 100%;
			// }

		}
	}
}

// @media only screen and (max-width: 1300px) {
// 	.work-process-greeting{
// 		width: 100%;
// 		height: auto;
// 		left: 0;
// 		position: relative;

// 		.content-section{
			
// 			clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
// 			-webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
// 			@include content-section($linear_gradient_green,60vw);


// 			.paragraph-section{
// 				@include paragraph-section();
// 			}
// 			.section-bg{
// 				position: absolute;
// 				left: calc(100% - #{$bg-image-width-l} - 5%);
// 				// top: 20vh;
// 				// margin-right: auto;
// 				// margin-left: auto;
// 				rigth: 0;
// 				bottom: 0;
// 				width:$bg-image-width-l;
// 				height: auto;
// 				display: block;
// 				// filter:invert(100%) grayscale(100%) opacity(100%); 

// 				img{
// 					width: 100%;
// 					height: 100%;
// 				}

// 			}
// 		}
// 	}
// }


@media only screen and (max-width: 1200px) {
	// .work-process-greeting{
	// 	// width: 100%;
	// 	height: auto;
	// 	left: 0;
	// 	position: relative;
	// 	// background: red;

	// 	.content-section{
			
	// 		clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
	// 		-webkit-clip-path: polygon(0 84%, 0% 0%, 100% 0%, 100% 100%);
	// 		@include content-section($linear_gradient_green, 50vw);


	// 		.paragraph-section{
				// @include paragraph-section(18vw, 40vw, left, $GLOBAL_CONTENT_WIDTH_M);
				h3{
					font-size: $title-font-size-h3-m !important;
					
				}
				h5{
					font-size: $paragraph-font-size-h5-m !important;
				}
				ul{
					font-size: $paragraph-font-size-h5-m;
					

					li{
						font-size: $paragraph-font-size-h5-m;
						
					}
				}

			// }
	// 		.section-bg{
	// 			position: absolute;
	// 			left: calc(100% - #{$bg-image-width-m} - 5%);
	// 			// top: 20vh;
	// 			// margin-right: auto;
	// 			// margin-left: auto;
	// 			top: calc(100% - #{$bg-image-width-m} - 15%);
	// 			rigth: 0;
	// 			bottom: 0;
	// 			width:$bg-image-width-m;
	// 			height: auto;
	// 			display: block;
	// 			// filter:invert(100%) grayscale(100%) opacity(100%); 

	// 			img{
	// 				width: 100%;
	// 				height: 100%;
	// 			}

	// 		}
	// 	}
	// }

}