@import '../ProcessPage/SubComponents/shared_style/mixin_processpage.scss';
@import '../ProcessPage/SubComponents/shared_style/variable_processpage.scss';
@import '../../style_global/variable.scss';

.scroll-indicator-left{

	width:30vw;
	height:1.2rem;
	transform: rotate(90deg);
	transform-origin: 0% 50%;
	-webkit-transform-origin: 0% 50%;
	-webkit-transform: rotate(90deg);
	position: relative;
	left: 15vw !important;
	z-index:5;
	top: -18vw;
	.side-indicator-bar{
		width:15vw;
		height: 5px;
		position: relative;
		background: black;
		display: inline-block;
		top: -0.2rem;
		left: 0px;
	}
	.side-caption-left{
		font-size: 1rem;
		transform: rotate(180deg) !important;
		transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: rotate(180deg);
		margin: 0 20px;
		
	}
	.scroll-indicator-icon{
		transform: rotate(-90deg) !important;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(-90deg) !important;
		-webkit-transform-origin: 50% 50%;
		width: 80px;
		height: auto;
		position: absolute;
		top: calc(-80px - 2.5px);
		left: -20px;
	}

}
.scroll-indicator-right{
	@extend .scroll-indicator-left;
	position: relative;
	float: right;
	left: 85vw  !important;
	top: -8vw;
	z-index: 5;

	.side-caption-right{

		@extend .side-caption-left;
		

	}

}

@media only screen and (max-width: 1200px) {
	.scroll-indicator-left{

		width:30vw;
		height:1.2rem;
		transform: rotate(90deg);
		transform-origin: 0% 50%;
		-webkit-transform-origin: 0% 50%;
		-webkit-transform: rotate(90deg);
		position: relative;
		left: 10vw  !important;
		z-index:5;
		top: -18vw;
		.side-indicator-bar{
			width:15vw;
			height: 5px;
			position: relative;
			background: black;
			display: inline-block;
			top: -0.2rem;
			left: 0px;
		}
		.side-caption-left{
			font-size: 1rem;
			transform: rotate(180deg) !important;
			transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
			-webkit-transform: rotate(180deg);
			margin: 0 20px;
			
		}
		.scroll-indicator-icon{
			transform: rotate(-90deg) !important;
			width: 80px;
			height: auto;
			position: absolute;
			top: calc(-80px - 2.5px);

		}

	}
	.scroll-indicator-right{
		width:30vw;
		height:1.2rem;
		transform: rotate(90deg);
		transform-origin: 0% 50%;
		-webkit-transform-origin: 0% 50%;
		-webkit-transform: rotate(90deg);
		position: relative;
		float: right;
		left: 90vw  !important;
		right: 0;
		top: -8vw;
		z-index: 5;

		.side-caption-right{

			@extend .side-caption-left;
			

		}

	}
}