$GLOBAL_CONTENT_WIDTH: 60vw;
$GLOBAL_CONTENT_WIDTH_M: 80vw;


$title-font-size-h3 : 3rem;
$title-font-size-h4 : 2rem;
$paragraph-font-size-h5 : 1.2rem;
$paragraph-font-size-p : 1rem;

$title-font-size-h3-m : 2rem;
$paragraph-font-size-h5-m : 1rem;
$paragraph-font-size-p-m : 0.8rem;

$title-font-size-h3-m : 2rem;
$paragraph-font-size-h5-m : 1rem;
$paragraph-font-size-p-m : 0.8rem;


// @media only screen and (max-width: 1200px) {
// 	$title-font-size-h3 : 1rem;
// 	$paragraph-font-size-h5 : 1rem;
// 	$paragraph-font-size-p : 0.8rem;
// }


// @media only screen and (max-width: 980px) {

// 	$title-font-size-h3 : 1.8rem;
// 	$paragraph-font-size-h5 : 1rem;
// 	$paragraph-font-size-p : 0.8rem;
// }