@import '../../index.scss';
@import '../../style_global/variable.scss';
// @import '../../content_processpage.scss';

$cards_4: 4;
$cards_3: 3;
$cards_2: 2;
$cards_1: 1;

$gallery_width_s: $GLOBAL_CONTENT_WIDTH;
$gallery_width_m: 76vw;
$gallery_width_l: 80vw;
$gallery_width_xl: 80vw;




$project_card_w_sm : calc(#{$gallery_width_s} / #{$cards_4});
$project_card_w_m : calc(#{$gallery_width_m}  / #{$cards_3});
$project_card_w_l : calc(#{$gallery_width_l} / #{$cards_2});
$project_card_w_xl : $gallery_width_l;

$gallery_height_s: $GLOBAL_CONTENT_WIDTH;
$gallery_height_m: calc(#{$project_card_w_m} * 3);
$gallery_height_l: calc(#{$project_card_w_l} * 5);
$gallery_height_xl: calc(#{$project_card_w_xl} * 5);

$card_margin_sm: 20px;
$card_margin_m: 30px;
$card_margin_l: 30px;
$card_margin_xl: 0px;




@mixin card($w, $h){
	// display: block;
	width: $w !important;
	height: $h;
	clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
	-webkit-clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);

}
@mixin gallery_width($width:$gallery_width){
	width: $width;
	height: auto;

	// display: block;
}

.casestudy-gallery-small{
	
	width: 100%;

	h3{
		font-size: 1.6rem;
		font-weight: 200;
		top:1rem;
		text-align:left;
		display: block;
		position : relative;
		text-align: center;
		// margin: 0 auto;

	}
}
// .case-cards-xl{

// 	@include gallery_width($gallery_width_xl);
// 	// width: $gallery_width;
// 	// height: auto;
// 	// display: block; 
// 	margin: 3vh auto;


// }
// .case-cards-l{

// 	@include gallery_width($gallery_width_l);
// 	// width: $gallery_width;
// 	// height: auto;
// 	// display: block; 
// 	margin: 3vh auto;

// }
// .case-cards-m{

// 	@include gallery_width($gallery_width_m);
// 	// width: $gallery_width;
// 	// height: auto;
// 	// display: block; 
// 	margin: 3vh auto;
// 	height: $gallery_height_m;

// }
// .case-cards-sm{

// 	@include gallery_width($gallery_width_s);
// 	// width: $gallery_width;
// 	// height: auto;
// 	// display: block; 
// 	margin: 5vh auto;

// }
// .project-card-xl {
// 	// @include card(project_card_w_sm, auto);
// 	display: inline-block;
// 	width: calc(#{$project_card_w_xl} - #{$card_margin_xl});
// 	height: calc(#{$project_card_w_xl} - #{$card_margin_xl});
// 	margin-right: $card_margin_xl;
// 	margin-bottom: $card_margin_xl;

// 	// padding: 30px;
// 	position: relative;
// }
// .project-card-l {
// 	// @include card(project_card_w_sm, auto);
// 	display: inline-block;
// 	width: calc(#{$project_card_w_l} - #{$card_margin_l});
// 	height: calc(#{$project_card_w_l} - #{$card_margin_l});
// 	margin-right: $card_margin_l;
// 	// padding: 30px;
// 	position: relative;
// }
// .card-frame{
// 	list-style: none;
// 	margin: 15px 0; 
// }

// .project-card {

// 	width: 100%;
// 	&:after{
// 		content:'';
// 		display: block;
// 		padding-bottom: 100%;

// 	}
// 	// padding: 30px;
// 	position: relative;
// 	.info-level1{
// 		position: absolute;
// 		top:0;
// 		left:0;
// 		display: block;
// 		width: 100%;
// 		height: 100% ;
// 		// background: white;
// 		opacity: 0;
// 		transition-delay: 0s;
// 		&:active{
// 			color: black;
// 		}
// 		&:checked{
// 			color: black;
// 		}
// 	}
// 	.cardmask{
// 		@extend .info-level1;
// 		background: linear-gradient(-80deg , #52E1C2, #70E598);
// 		clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
// 		-webkit-clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
// 	}

// 	h5{
// 		font-size: 1.6rem;
// 		transition-duration: .3s;
// 		opacity:0;
// 		position: relative;
// 		top: 3rem;
// 		left: 1.5rem;
// 		display: block;
// 		width: calc(100% - 3rem);
// 	}
// 	p{
// 		font-size: 1rem;
// 		transition-duration: .3s;
// 		opacity:0;
// 		position: relative;
// 		top: 3rem;
// 		left: 1.5rem;
// 		display: block;
// 		width: calc(100% - 3rem);
// 	}
// 	&:hover{
// 		.info-level1{
// 			opacity: 1;
// 		}
// 		.cardmask{
// 			// background: white;
// 			opacity: 0.8;
// 			animation: parjectcard-hovereffect .3s ease-in-out both
// 		}
// 		// -webkit-filter: opacity(50%);
// 		// filter: opacity(50%);
// 		h5{
// 			color: black;
// 			opacity: 1;
// 			top: 1.5rem;

// 		}
// 		p{
// 			color: black;
// 			opacity: 1;
// 			top:1.5rem;
// 		}
// 	}
// }

// // .project-card-m{
// // 	width: calc(#{$project_card_w_m} - #{$card_margin_m});
// // 	height: calc(#{$project_card_w_m} - #{$card_margin_m});
// // 	margin-right: $card_margin_m;
// // 	margin-bottom: $card_margin_m;
// // }
// @keyframes parjectcard-hovereffect {
// 	0%{
// 		clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
// 		-webkit-clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
// 	}
// 	50%{
// 		clip-path: polygon(0 100%, 0% 0%, 75% 0%, 65% 100%);
// 		-webkit-clip-path: polygon(0 100%, 0% 0%, 75% 0%, 65% 100%);
// 	}
// 	// 70%{
// 	// 	clip-path: polygon(0 100%, 0% 0%, 80% 0%, 75% 100%);
// 	// 	-webkit-clip-path: polygon(0 100%, 0% 0%, 80% 0%, 75% 100%);
// 	// }
// 	100%{
// 		clip-path: polygon(0 100%, 0% 0%, 100% 0%, 100% 100%);
// 		-webkit-clip-path: polygon(0 100%, 0% 0%, 100% 0%, 100% 100%);
// 	}
// }
// .project-card-l {
	
// 	width: calc(#{$project_card_w_l} - #{$card_margin_l});
// 	height: calc(#{$project_card_w_l} - #{$card_margin_l});
// 	margin-right: $card_margin_l;
// 	margin-bottom: $card_margin_l;
// 	// padding: 30px;
	
// }
// .card-shiffle-animation{
// 	transform-origin: center;
// 	animation: shiffle-card .5s ease-in-out 0s 1 ;
// }

// @keyframes shiffle-card {
// 	from{
// 		transform: scale(0);
// 	}
// 	to{
// 		transform: scale(1);
// 	}
// }

// .project-card-sm {
// 	// @include card(project_card_w_sm, auto);
// 	display: inline-block;
// 	width: calc(#{$project_card_w_sm} - #{$card_margin_sm});
// 	height: calc(#{$project_card_w_sm} - #{$card_margin_sm});
// 	margin-right: $card_margin_sm;
// 	margin-bottom: $card_margin_sm;
// 	// padding: 30px;
// 	position: relative;
// 	transform-origin: top left;


// 	.info-level1{
// 		display: block;
// 		width: 100%;
// 		height: 100% ;
// 		background: white;
// 		opacity: 0;
// 	}

// 	h5{
// 		font-size: 1.6rem;
// 		transition-duration: .3s;
// 		opacity:0;
// 		position: relative;
// 		top: 3rem;
// 		left: 1.5rem;
// 		display: block;
// 		width: calc(100% - 3rem);
// 	}
// 	p{
// 		font-size: 1rem;
// 		transition-duration: .3s;
// 		opacity:0;
// 		position: relative;
// 		top: 3rem;
// 		left: 1.5rem;
// 		display: block;
// 		width: calc(100% - 3rem);
// 	}
// 	&:hover{
// 		.info-level1{
// 			background: white;
// 			opacity: 0.6;
// 		}
// 		// -webkit-filter: opacity(50%);
// 		// filter: opacity(50%);
// 		h5{
// 			opacity: 1;
// 			top: 1.5rem;

// 		}
// 		p{
// 			opacity: 1;
// 			top:1.5rem;
// 		}
// 	}
// }