@import '../../index.scss';
@import '../../style_global/variable.scss';
// @import '../../content_processpage.scss';

$gallery_width: $GLOBAL_CONTENT_WIDTH;
$project_card_w_sm : calc(#{$gallery_width} / 4);
$project_card_w_m : calc(100% / 3);
$project_card_w_l : 50%;
$project_card_w_xl : 90%;

$card_margin_sm: 20px;
$card_margin_m: 30px;
$card_margin_l: 30px;
$card_margin_xl: 0px;


@mixin card($w, $h){
	display: block;
	width: $w !important;
	height: $h;

}

.casestudy-gallery-small{
	
	width: 100%;

	h3{
		font-size: 1.6rem;
		font-weight: 200;
		top:1rem;
		text-align:left;
		display: block;
		position : relative;
		text-align: center;
		// margin: 0 auto;

	}
}
.case-cards{
	width: $gallery_width;
	height: auto;
	display: block; 
	margin: 10vh auto;

}
.project-card-xl {
	// @include card(project_card_w_sm, auto);
	display: inline-block;
	width: calc(#{$project_card_w_xl} - #{$card_margin_xl});
	height: calc(#{$project_card_w_xl} - #{$card_margin_xl});
	margin-right: $card_margin_xl;
	// padding: 30px;
	position: relative;
}
.project-card-l {
	// @include card(project_card_w_sm, auto);
	display: inline-block;
	width: calc(#{$project_card_w_l} - #{$card_margin_l});
	height: calc(#{$project_card_w_l} - #{$card_margin_l});
	margin-right: $card_margin_l;
	// padding: 30px;
	position: relative;
}
.project-card-m {
	// @include card(project_card_w_sm, auto);
	display: inline-block;
	width: calc(#{$project_card_w_m} - #{$card_margin_m});
	height: calc(#{$project_card_w_m} - #{$card_margin_m});
	margin-right: $card_margin_m;
	// padding: 30px;
	position: relative;
}

.project-card-sm {
	// @include card(project_card_w_sm, auto);
	display: inline-block;
	width: calc(#{$project_card_w_sm} - #{$card_margin_sm});
	height: calc(#{$project_card_w_sm} - #{$card_margin_sm});
	margin-right: $card_margin_sm;
	// padding: 30px;
	position: relative;

	.info-level1{
		display: block;
		width: 100%;
		height: 100% ;
		background: white;
		opacity: 0;
	}

	h5{
		font-size: 1.6rem;
		transition-duration: .3s;
		opacity:0;
		position: relative;
		top: 3rem;
		left: 1.5rem;
		display: block;
		width: calc(100% - 3rem);
	}
	p{
		font-size: 1rem;
		transition-duration: .3s;
		opacity:0;
		position: relative;
		top: 3rem;
		left: 1.5rem;
		display: block;
		width: calc(100% - 3rem);
	}
	&:hover{
		.info-level1{
			background: white;
			opacity: 0.6;
		}
		// -webkit-filter: opacity(50%);
		// filter: opacity(50%);
		h5{
			opacity: 1;
			top: 1.5rem;

		}
		p{
			opacity: 1;
			top:1.5rem;
		}
	}
}