.casestudy-gallery-small{
	padding: 10vh 0;

	width: 100%;

	h3{
		font-size: 1.6rem;
		font-weight: 200;
		top:1rem;
		text-align:left;
		display: block;
		position : relative;
		text-align: center;
		// margin: 0 auto;

	}
}