@import '../../index.scss';
@import '../../style_global/variable.scss';
// @import '../../content_processpage.scss';

$cards_4: 4;
$cards_3: 3;
$cards_2: 2;
$cards_1: 1;

$gallery_width_s: $GLOBAL_CONTENT_WIDTH;
$gallery_width_m: 76vw;
$gallery_width_l: 80vw;
$gallery_width_xl: 80vw;




$project_card_w_sm : calc(#{$gallery_width_s} / #{$cards_4});
$project_card_w_m : calc(#{$gallery_width_m}  / #{$cards_3});
$project_card_w_l : calc(#{$gallery_width_l} / #{$cards_2});
$project_card_w_xl : $gallery_width_l;

$gallery_height_s: $GLOBAL_CONTENT_WIDTH;
$gallery_height_m: calc(#{$project_card_w_m} * 3);
$gallery_height_l: calc(#{$project_card_w_l} * 5);
$gallery_height_xl: calc(#{$project_card_w_xl} * 5);

$card_margin_sm: 20px;
$card_margin_m: 30px;
$card_margin_l: 30px;
$card_margin_xl: 0px;




@mixin card($w, $h){
	// display: block;
	width: $w !important;
	height: $h;
	clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);
	-webkit-clip-path: polygon(0 100%, 0% 0%, 0% 0%, 0% 100%);

}
@mixin gallery_width($width:$gallery_width){
	width: $width;
	height: auto;

	// display: block;
}

