.filter {
  heigth: auto;
  position: relative; }
  .filter .filter-item {
    color: #EF7C00;
    font-weight: bold;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block; }
